* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffdf8c;
  font-family: "Nunito", sans-serif;
}

//! local styles

.rating span {
  color: #ffc000;
}

.btn-primary {
  background-color: #ffc000 !important;
  color: black !important;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px !important;
}
