* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffdf8c;
  font-family: "Nunito", sans-serif;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
//! no main styles

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .product {
    border: 1px solid #404040;
    margin: 1rem;
    width: 20%;

    &__info {
      padding: 1rem;
    }

    img {
      width: 100%;
      max-width: 400px;
    }
  }
}
